p{
    margin: 25px 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.container{
    margin-bottom: 10%;
    margin-top: 1%;max-width: 1024px;
}

#myTab{
    background-color: rgb(245, 245, 245);
}

#concept,#terminology,#background{
    padding-top: 2%;
    padding-bottom: 8%;
    background-color: rgb(236, 236, 236);
}

.border{
    box-shadow: 2px 2px 3px 2px #868383;
}


